<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title></title>
    <!-- Font Awesome -->
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.6.3/css/all.css">
    <!-- Bootstrap core CSS -->
    <link href="@Url.Content("~/css/bootstrap.min.css")" rel="stylesheet">
    <!-- Material Design Bootstrap -->
    <link href="@Url.Content("~/css/mdb.min.css")" rel="stylesheet">
    <!-- Custom styles (optional) -->
    <link href="@Url.Content("~/css/style.css")" rel="stylesheet" />
</head>
<body class="bg-image">
    <!--Main Navigation-->
    <header>
        <nav class="navbar fixed-top navbar-expand-lg navbar-dark scrolling-navbar">
            <a class="navbar-brand" href="@Url.Action("Index")"><strong>Cities</strong></a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
                    aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav mr-auto">
                    <li class="nav-item active">
                        <a class="nav-link" role="button" data-toggle="modal" data-target="#sideModalTR">Contact<span class="sr-only">(current)</span></a>
                    </li>
                </ul>
            </div>
        </nav>
    </header>
    <!--Main Navigation-->
    <!-- Side Modal Top Right -->
    <!-- To change the direction of the modal animation change .right class -->
    <div class="modal fade right" id="sideModalTR" tabindex="-1" role="dialog" aria-labelledby="myModalLabel"
         aria-hidden="true">
        <div class="modal-dialog modal-side modal-top-right" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h4 class="modal-title w-100" id="myModalLabel">Contact</h4>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <i class="far fa-envelope-open"> q_kul@mail.ru</i> |
                    <i class="fas fa-phone"> +375333511035</i> |
                    <i class="fab fa-vk"> vk.com/q_kul</i> |
                    <i class="fab fa-skype"> Andrei Kulbeda</i> |
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-elegant" data-dismiss="modal">Close</button>
                </div>
            </div>
        </div>
    </div>
    <!-- Side Modal Top Right -->


    <main id="main"  role="main">
        @RenderBody()
    </main>
    <!-- SCRIPTS -->
    <!-- JQuery -->
    <script type="text/javascript" src="@Url.Content("~/js/jquery-3.3.1.min.js")"></script>
    <!-- Bootstrap tooltips -->
    <script type="text/javascript" src="@Url.Content("~/js/popper.min.js")"></script>
    <!-- Bootstrap core JavaScript -->
    <script type="text/javascript" src="@Url.Content("~/js/bootstrap.min.js")"></script>
    <!-- MDB core JavaScript -->
    <script type="text/javascript" src="@Url.Content("~/js/mdb.min.js")"></script>
    <!-- Custom JavaScript (optional) -->
    <script src="@Url.Content("~/js/script.js")"></script>
</body>
</html>
