@using CitiesApp.Controllers;
@model IEnumerable<CitiesApp.Models.City>
@{
    ViewData["Title"] = "CityApp";
}
<h2>Index</h2>
<p>
    <a asp-action="Create">Create New</a>
</p>

@using (Html.BeginForm("Index", "Cities", FormMethod.Get))
{
<p>
    City name: <input type="search" name="searchName" value="@ViewBag.StrSearchName">
    Country: <input type="search" name="searchCountry" value="@ViewBag.StrSearchCountry">
    <input type="submit" value="Filter" />
</p>
}
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.ActionLink("City", "Index", new { sortOrder = ViewBag.NameSort })
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Country)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.YearOfCreation)
            </th>
            <th>
                @Html.ActionLink("Rating", "Index", new { sortOrder = ViewBag.RatingSort })
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Country)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.YearOfCreation)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Rating)
                </td>
                <td>
                    <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                    <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
                    <a asp-action="Delete" asp-route-id="@item.Id">Delete</a> |
                    <a asp-action="More" asp-route-id="@item.Id">More</a>
                </td>
            </tr>
        }
    </tbody>
</table>
