@using CitiesApp.Controllers;
@model IEnumerable<CitiesApp.Models.City>

@{
    ViewData["Title"] = "CityApp";
}
<h2>Index</h2>
<p>
    <a asp-action="Create" class="btn btn-primary" role="button">Create New</a>
</p>
@*<style>
    body {
        background-image: url(~/images/listcity.jpg); /* Путь к фоновому изображению */
        background-color: #fbfbfb; /* Цвет фона */
    }
</style>*@
@using (Html.BeginForm("Index", "Cities", FormMethod.Get))
{
    <p>
        City name: <input type="search" name="searchName" value="@ViewBag.StrSearchName">
        Country: <input type="search" name="searchCountry" value="@ViewBag.StrSearchCountry">
        @*<input type="submit" value="Filter"  />*@
        <button type="submit" class="btn btn-default btn-sm dropdown-toggle">
            <span class="glyphicon glyphicon-search"></span> Filter
        </button>
    </p>
}
<table class="table table-hover">
    <thead>
        <tr>
            <th>
                @Html.ActionLink("City", "Index", new { sortOrder = ViewBag.NameSort })
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Country)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.YearOfCreation)
            </th>
            <th>
                @Html.ActionLink("Rating", "Index", new { sortOrder = ViewBag.RatingSort })
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Country)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.YearOfCreation)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Rating)
                </td>
                <td>
                    <a asp-action="Edit" asp-route-id="@item.Id" class="btn btn-primary btn-xs dropdown-toggle" role="button">Edit</a>
                    <a asp-action="Delete" asp-route-id="@item.Id" class="btn btn-primary btn-xs dropdown-toggle" role="button">Delete</a>
                    <a asp-action="More" asp-route-id="@item.Id" class="btn btn-primary btn-xs dropdown-toggle" role="button">More</a>
                </td>
            </tr>
        }
    </tbody>
</table>
