@using CitiesApp.Controllers;
@model PaginatedList<CitiesApp.Models.City>
@{
    ViewData["Title"] = "CityApp";
}

<div class="container text-white">
    <h2>City Application</h2>
    <p>
        <a asp-action="Create" class="btn btn-primary" role="button">Create New</a>
    </p>
    <a asp-action="Index" class="btn btn-primary btn-xs dropdown-toggle" role="button">Back to Full List</a>
    @using (Html.BeginForm("Index", "Cities", FormMethod.Get))
    {
        <p>
            City name: <input type="search" name="searchName" value="@ViewData["StrSearchName"]" />
            <button type="submit" class="btn btn-default btn-sm dropdown-toggle">
                <span class="glyphicon glyphicon-search"></span> Filter
            </button>
        </p>
    }
    <table class="table table-hover">
        <thead >
            <tr>
                <th class="textHeader">
                    @*@Html.ActionLink("City", "Index", new { sortOrder = ViewBag.NameSort })*@
                    <a asp-action="Index" asp-route-sortOrder="@ViewData["NameSort"]" asp-route-currentFilter="@ViewData["CurrentFilter"]">City</a>
                </th>
                <th class="textHeader">
                    Country
                </th>
                <th class="textHeader">
                    Year of creation
                </th>
                <th class="textHeader">
                    @*@Html.ActionLink("Rating", "Index", new { sortOrder = ViewBag.RatingSort })*@
                    <a asp-action="Index" asp-route-sortOrder="@ViewData["RatingSort"]" asp-route-currentFilter="@ViewData["CurrentFilter"]">Rating</a>
                </th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td class="textM">
                        @Html.DisplayFor(modelItem => item.Name)
                    </td>
                    <td class="textM">
                        @Html.DisplayFor(modelItem => item.Country)
                    </td>
                    <td class="textM">
                        @Html.DisplayFor(modelItem => item.YearOfCreation)
                    </td>
                    <td class="textM">
                        @Html.DisplayFor(modelItem => item.Rating)
                    </td>
                    <td>
                        <a asp-action="Edit" asp-route-id="@item.Id" class="btn btn-info btn-rounded">Edit</a>
                        <a asp-action="Delete" asp-route-id="@item.Id"  class="btn btn-info btn-rounded">Delete</a>
                        <a asp-action="More" asp-route-id="@item.Id" class="btn btn-info btn-rounded">More</a>
                    </td>
                </tr>
            }
        </tbody>
    </table>
    @{
        var prevDisabled = !Model.HasPreviousPage ? "disabled" : "";
        var nextDisabled = !Model.HasNextPage ? "disabled" : "";
    }
    <a asp-action="Index"
       asp-route-sortOrder="@ViewData["CurrentSort"]"
       asp-route-page="@(Model.PageIndex - 1)"
       asp-route-currentFilter="@ViewData["CurrentFilter"]"
       class="btn btn-default @prevDisabled">
        Previous
    </a>
    <a asp-action="Index"
       asp-route-sortOrder="@ViewData["CurrentSort"]"
       asp-route-page="@(Model.PageIndex + 1)"
       asp-route-currentFilter="@ViewData["CurrentFilter"]"
       class="btn btn-default @nextDisabled">
        Next
    </a>
</div>
