@using CitiesApp.ViewModels
@using CitiesApp.Models
@model CityViewModel
@{
    ViewData["Title"] = "More";
}
<div class="container text-white text-center">
    <div>
        <h1>@Model.Name</h1>
        <h4><b>Description: </b></h4>
        @if (Model.Description == null)
        {
            <h5><em>---</em></h5>
        }
        else
        {
            <h5><em>@Model.Description</em></h5>
        }
    </div>
    @if (Model.Photos.Count == 0)
    {
        <div>
            <h3>There are no photos</h3>
        </div>
    }
    else
    {
        <!-- First row -->
        <div class="row">
            <!-- First column -->
            <div class="col-md-12">
                <div id="mdb-lightbox-ui"></div>
                <div class="mdb-lightbox">
                    @foreach (var p in Model.Photos)
                    {
                        <figure class="col-md-4">
                            <a href="@Url.Action("GetPhoto", new { id = p.Id })" alt="@p.Id" data-size="1600x1067">
                                <img src="@Url.Action("GetPhoto", new { id = p.Id })" alt="@p.Id" class="img-fluid z-depth-2">
                            </a>
                            <figcaption>
                                <form asp-action="DeletePhoto" asp-route-id="@p.Id">
                                    <input type="hidden" asp-for="@p.Id" />
                                    <input type="submit" value="Delete" class="btn btn-primary" />
                                </form>
                               PHOTO INFO !!!! 
                            </figcaption>
                        </figure>
                        
                    }
                </div>
            </div>
            <!-- First column -->
        </div>
        <!-- First row -->
       
    }
    <div>
        <a href="@Url.Action("AddPhoto", new { id = Model.Id })" class="btn btn-primary btn-xs dropdown-toggle" role="button">Добавить новую фотографию</a>
        <a asp-action="Index" class="btn btn-primary btn-xs dropdown-toggle" role="button">Back to List</a>
    </div>
</div>

